@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');


:root{
    --custom-color: rgb(84, 82, 82);
    --padding: 20px;
    --medium-font-size: 1em;
    --big-font-size: 2.5em;
    --input-padding: 15px 25px;
    --border-radius: 8px;
    --margin-bottom: 20px;
    --margin-top: 10px;
    --border: 1px solid rgb(197, 212, 221);
    --misc-color: cornflowerblue;
}

body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* #paragraph{
    font-size: 32px;
    color: blue;
    text-align: center;
} */

.container{
    width: 1200px;
    max-width: 100%;
    min-height: 400px;
    margin: auto;
}

.form_heading{
    text-align: center;
    color: var(--misc-color);
    margin-top: var(--margin-top);
    padding: var(--padding);
}

.form{
    width: 60%;
    margin: 30px auto;
    padding: var(--padding);
}

.form_group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
}

.form_group-label{
color: var(--custom-color);
font-size: var(--medium-font-size);
margin-bottom: var(--margin-bottom);
}

input{
    padding: var(--input-padding);
    border-radius: var(--border-radius);
    border: var(--border);
}

input::placeholder{
    font-size: small;
    color: var(--misc-color);
}

/* input:focus{
    outline-color: red;
} */

select{
padding: var(--input-padding);
border-radius: var(--border-radius);
border: var(--border);
color: var(--custom-color);
background-color: white;
}

.btn-submit{
margin-top: var(--margin-top);
border: none;
padding: 14px;
border-radius: var(--border-radius);
cursor: pointer;
background-color: cornflowerblue;
color: white;
font-size: var(--medium-font-size);
transition:1s;
}

.btn-submit:hover{
    background: rgb(9, 60, 154);
}


/* table styles */

.table_wrapper{
    width: 60%;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
}

.table_wrapper::-webkit-scrollbar{
    display: none;
}

table{
    width: 100%;
    margin-top: 50px;
}

.heading{
    text-align: center;
    color: var(--misc-color);
    margin-top: 14px;
}

td,th{
    border: var(--border);
    text-align: left;
    padding: var(--padding);
}

thead{
    background-color: var(--misc-color);
    border: none;
}


@media (max-width:840px){
    .form{
        width: 100%;
    }
}

.table_wrapper{
    width: 100%;
}



